.profile-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f6f2;
}

.profile-card {
  width: 800px;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 40px;
  border-radius: 12px;
}

.left-section {
  width: 60%;
}

.left-section input,
.left-section select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4f83cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ddd;
}
